html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1.2px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
#pt {
    width: 45vw;
    height: 45vw;
}
  
#location {
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1.2px;
}

#location:focus {
    outline-width: 0;
}

button {
    margin-top: 10px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.3vw;
    color: black;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1.2px;
}

#response {
    margin-top: 20px;
}