html, body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 1px;
}

header{
  padding-left: 30px;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
}

#projects {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 30px;
}

a {
  text-decoration: none;
}

#projects span {
  cursor: pointer;
}

.project-link span,
.social-link span {
  color: black;
  text-decoration: none;
}

.project-link:hover span,
.social-link:hover span {
  text-decoration: underline;
}

.project-link.selected span {
  text-decoration: underline;
}

#project-info a {
  text-decoration: underline;
  color:black;
}

#iframe {
  position: fixed;
  top: 0;
  left: 20vw;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hidden {
  display: none;
}

#iframe-content {
  width: 80%;
  height: 80%;
  border: none;
}

#external-link {
  position: absolute;
  top: 20px;
  right: 20px;
}

#external-link img {
  width: 20px;
  height: 20px;
}

#project-info {
  font-size: 0.8em;
}

#external-link {
  position: absolute;
  top: 30px;
  right: 50px;
}

.image-container {
  position: relative;
}

.box-image, .arrow-image {
  position: absolute;
  top: 0;
  left: 0;
}

.arrow-image:hover {
  transform: translateX(2px) translateY(-2px);
}